@import '../../styles/variables.scss';

.cart {
    padding-top: 50px;
    &__title {
        color: white;
        font-weight: bold;
        font-size: 64px;
        text-align: center;
        margin-bottom: 120px;
    }
}

.clear-button {
    background-color: $gray;
    width: 192px;
    height: 60px;
    border-radius: 20px;
    border: none;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__text {
        margin-right: 15px;
        color: white;
        font-size: 20px;
    }
}

.wrapper {
    display: flex;
    justify-content: end;
}