@import '../../styles/variables.scss';
.categories {
    background-color: $dark-gray;
    height: 90vh;
    border-radius: 30px;
    padding: 50px 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-template-rows: repeat(3, 1fr);
}