//colors
$bg: #000000;//background
$dark-gray: #141414;
$gray: #242424;
$light-gray: #525252;
$dim-gray: #D9D9D9;
$add-color: #583EF9;//add button
$order-color: #9612B7;// order button
//font-sizes
$h1: 64px;
$h2: 36px;
