.header {
    padding-top: 20px;
<<<<<<< HEAD
    margin-bottom: 20px;
=======
    padding-bottom: 20px;
>>>>>>> yar
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action__item {
    margin-right: 30px;
    display: block;
    width: 20px;
    height: 20px;
    color: #D9D9D9;
}

.action__lang {
    line-height: 1;
    display: block;
    font-size: 24px;
    color: #D9D9D9;
}